# Large test cases and dataset files
TestCases/*
!TestCases/.gitkeep

# Operating system files
.DS_Store
Thumbs.db

# Unsupported asset types for Git Folders
Afiq/bayesian_history_matching/
**/bayesian_history_matching/
bayesian_history_matching
